* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes cards-animation {
  0% {
    transform: scale(0.2);
  }
  70% {
    transform: scale(1.05);
  }
  80% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.cards-animation {
  animation: cards-animation 0.4s ease 1 both;
}

@keyframes rotate-card {
  0% {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(90deg);
  }
  51% {
    transform: rotateY(90deg) scale(-1, 1);
  }
  100% {
    transform: rotateY(180deg) scale(-1, 1);
  }
}
.rotate-card {
  animation: rotate-card 0.3s linear 1 both;
  background-image: url("../images/empty.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@keyframes rotate-card-again {
  0% {
    transform: rotateY(180deg) scale(-1, 1);
  }
  50% {
    transform: rotateY(90deg) scale(-1, 1);
  }
  51% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0);
  }
}
.rotate-card-again {
  animation: rotate-card-again 0.4s linear 1 both;
}

@keyframes become-transparent {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.become-transparent {
  animation: become-transparent 0.2s linear 1 both;
}

.become-opaque {
  animation: become-transparent 0.3s linear 1 reverse both;
}

@keyframes congrats-animation {
  0% {
    transform: scale(0.6);
    opacity: 1;
  }
  30% {
    transform: scale(1);
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.covered {
  background-image: url(../images/card-pattern3.webp) !important;
}

.title-animation {
  opacity: 0;
  transition: 0.3s;
}

html {
  font-family: "Teko", sans-serif;
  font-size: 62.5%;
}

h1,
h2,
h3 {
  color: rgb(247, 243, 231);
}

.start--title {
  font-family: "Holtwood One SC", serif;
  font-size: 3rem;
  text-align: center;
}

h2 {
  padding-top: 2.6em;
  font-size: 3rem;
}

h3 {
  padding: 0.5em;
  font-size: 1.8rem;
}

.congrats-title,
.moves-title {
  font-size: 3rem;
  transform: scale(0);
  animation: congrats-animation 2s ease-in-out 1 both;
}

.moves-title {
  animation-duration: 3s;
}

p {
  padding: 0.4em;
  text-align: center;
  text-transform: uppercase;
}

p.gold,
h1.gold {
  font-size: 3.2rem;
  color: rgb(236, 201, 3);
  font-weight: 700;
}

p.silver,
h1.silver {
  font-size: 2.6rem;
  color: rgb(173, 173, 173);
  font-weight: 700;
}

p.bronze,
h1.bronze {
  font-size: 2rem;
  color: rgb(119, 48, 0);
  font-weight: 700;
}

p.txt,
h1.txt {
  font-size: 1.6rem;
  color: rgb(247, 243, 231);
}

h1.trophy {
  padding-top: 1em;
  font-size: 4.6rem;
}

@media (min-width: 760px) {
  .start--title {
    font-size: 4rem;
  }
  h2 {
    font-size: 3.4rem;
  }
  h3 {
    font-size: 2.2rem;
  }
  .congrats-title.moves-title {
    font-size: 3.6rem;
  }
  p.gold,
  h1.gold {
    font-size: 3.6rem;
  }
  p.silver,
  h1.silver {
    font-size: 3rem;
  }
  p.bronze,
  h1.bronze {
    font-size: 2.4rem;
  }
  p.txt,
  h1.txt {
    font-size: 1.8rem;
  }
  h1.trophy {
    font-size: 5.6rem;
  }
}
@media (min-width: 1200px) {
  .start--title {
    font-size: 5rem;
  }
  h2 {
    font-size: 4.6rem;
  }
  h3 {
    font-size: 3rem;
  }
  .congrats-title,
  .moves-title {
    font-size: 4.6rem;
  }
  p.gold,
  h1.gold {
    font-size: 4rem;
  }
  p.silver,
  h1.silver {
    font-size: 3.4rem;
  }
  p.bronze,
  h1.bronze {
    font-size: 2.8rem;
  }
  p.txt,
  h1.txt {
    font-size: 2.4rem;
  }
  h1.trophy {
    font-size: 6.6rem;
  }
}
.start__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.start__buttons .start__buttons--btn {
  width: 100px;
  height: 30px;
  background-color: transparent;
  background-image: linear-gradient(rgba(205, 103, 230, 0.747), rgba(83, 0, 83, 0.5) 50%);
  border: none;
  border-radius: 42px;
  box-shadow: rgba(205, 103, 230, 0.637) 4px 2px 6px, rgba(156, 2, 156, 0.5) 0 8px 12px;
  font-family: "Teko", sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(247, 243, 231);
  cursor: pointer;
  transition-duration: 0.2s;
}
@media (min-width: 760px) {
  .start__buttons .start__buttons--btn {
    width: 120px;
    height: 35px;
    font-size: 1.4rem;
  }
}
@media (min-width: 1200px) {
  .start__buttons .start__buttons--btn {
    width: 140px;
    height: 40px;
    font-size: 1.6rem;
  }
}
@media (min-width: 1200px) {
  .start__buttons .start__buttons--btn:hover {
    background-color: rgb(150, 1, 150);
    box-shadow: rgba(205, 103, 230, 0.637) 4px 2px 20px, rgba(156, 2, 156, 0.5) 0 8px 12px;
    color: rgb(255, 145, 0);
  }
}

#new-game {
  margin-right: 0.5em;
}

#results {
  margin-left: 0.5em;
}

#return {
  padding: 0 0.5em;
  font-size: 2rem;
  color: rgb(247, 243, 231);
  text-transform: uppercase;
  cursor: pointer;
}
@media (min-width: 1200px) {
  #return {
    font-size: 4rem;
  }
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#280028 10%, #470047);
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
main .game {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  width: 80%;
  max-width: 1000px;
  height: 100%;
  max-height: 600px;
}
main .game .card {
  flex: 1 1 20%;
  flex-grow: 1;
  transform: scale(0) rotateY(0);
  margin: 1.2em;
  min-width: 60px;
  min-height: 60px;
  max-width: 180px;
  max-height: 180px;
  border: 0.2em solid rgb(119, 119, 119);
  border-radius: 5px;
  box-shadow: 5px 5px 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.resultsSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.resultsSection .statistics {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.menu__exit {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}

.hidden {
  visibility: hidden;
}

.unvisible {
  display: none;
}/*# sourceMappingURL=main.css.map */