@use "./mixins" as *;
@use "./variables" as variable;
@use "./mainview" as *;

@media (min-width: 572px) {
	.wrapper {
		.game {
			.card {
				padding: 3.6em;
			}
		}
	}
}
@media (min-width: 768px) {
	.wrapper {
		.game {
			.card {
				padding: 4.6em;
			}
		}
	}
}
@media (min-width: 1024px) {
	.wrapper {
		.game {
			.card {
				padding: 6em;
			}
		}
	}
	.mainTitle {
		font-size: variable.$main-title-font-size-desktop;
	}
	h1 {
		font-size: variable.$h1-font-size-desktop;
	}
	h2 {
		font-size: variable.$h2-font-size-desktop;
	}
	h3 {
		font-size: variable.$h3-font-size-desktop;
	}
	.btn {
		font-size: variable.$button-font-size-desktop;
	}
	#return {
		font-size: variable.$return-btn-font-size-desktop;
	}
	p.gold,
	h1.gold {
		font-size: variable.$gold-font-size-desktop;
	}
	p.silver,
	h1.silver {
		font-size: variable.$silver-font-size-desktop;
	}
	p.bronze,
	h1.bronze {
		font-size: variable.$bronze-font-size-desktop;
	}
	p.txt,
	h1.txt {
		font-size: variable.$txt-font-size-desktop;
	}
	h1.trophy {
		font-size: variable.$trophy-font-size-desktop;
	}
}
@media (min-width: 1024px) and (orientation: portrait) {
	.wrapper {
		.game {
			.card {
				margin: 2em;
				padding: 7em;
			}
		}
	}
}
@media (min-width: 1400px) {
	.wrapper {
		.game {
			.card {
				margin: 1.6rem;
				padding: 8em;
			}
		}
	}
}
