@use "./mixins" as *;
@use "./variables" as variable;
@use "./mainview" as *;

@media(orientation:landscape){
  .wrapper{
    .game{
      .card{
        flex-basis: 21%;
      }
    }
  }
}

@media (min-width: 1024px) {
	
  .mainTitle {
		font-size: variable.$main-title-font-size-desktop;
	}
	h1 {
		font-size: variable.$h1-font-size-desktop;
	}
	h2 {
		font-size: variable.$h2-font-size-desktop;
	}
	h3 {
		font-size: variable.$h3-font-size-desktop;
	}
	.btn {
		font-size: variable.$button-font-size-desktop;
	}
	#return {
		font-size: variable.$return-btn-font-size-desktop;
	}
	p.gold,
	h1.gold {
		font-size: variable.$gold-font-size-desktop;
	}
	p.silver,
	h1.silver {
		font-size: variable.$silver-font-size-desktop;
	}
	p.bronze,
	h1.bronze {
		font-size: variable.$bronze-font-size-desktop;
	}
	p.txt,
	h1.txt {
		font-size: variable.$txt-font-size-desktop;
	}
	h1.trophy {
		font-size: variable.$trophy-font-size-desktop;
	}
}
