@use "./variables" as *;

@mixin card {
	flex: 1 1 20%;
	flex-grow: 1;
	transform: scale(0) rotateY(0);
	margin: 1.2em;
	min-width: 60px;
	min-height: 60px;
	max-width: 180px;
	max-height: 180px;
	border: 0.2em solid rgb(119, 119, 119);
	border-radius: 5px;
	box-shadow: 5px 5px 10px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	cursor: pointer;
}
@mixin button {
	width: 100px;
	height: 30px;
	background-color: transparent;
	background-image: linear-gradient(
		rgba(205, 103, 230, 0.747),
		rgba(83, 0, 83, 0.5) 50%
	);
	border: none;
	border-radius: 42px;
	box-shadow: rgba(205, 103, 230, 0.637) 4px 2px 6px,
		rgba(156, 2, 156, 0.5) 0 8px 12px;
	font-family: $main-font-family;
	font-size: 1.2rem;
	text-transform: uppercase;
	font-weight: 700;
	color: $main-font-color;
	cursor: pointer;
	transition-duration: 0.2s;

	@media (min-width: 760px) {
		width: 120px;
		height: 35px;
		font-size: 1.4rem;
	}

	@media (min-width: 1200px) {
		width: 140px;
		height: 40px;
		font-size: 1.6rem;
	}
}
@mixin returnBtn {
	padding: 0 0.5em;
	font-size: 2rem;
	color: $main-font-color;
	text-transform: uppercase;
	cursor: pointer;

	@media (min-width: 1200px) {
		font-size: 4rem;
	}
}
