$main-background-image: url(../images/background-wall.jpg);
$main-title-font-family:"Holtwood One SC", serif;
$main-font-family: "Teko", sans-serif;
$main-font-color: rgb(247, 243, 231);
$first-place-font-color: rgb(236, 201, 3);
$second-place-font-color: rgb(173, 173, 173);
$third-place-font-color: rgb(119, 48, 0);
$main-title-font-size: 3.9rem;
$h1-font-size: 3.9rem;
$h2-font-size: 3.4rem;
$h3-font-size: 2rem;
$button-font-size: 1rem;
$return-btn-font-size: 2.4rem;
$card-border-color: rgb(119, 119, 119);
$button-background-color: rgba(143, 59, 42, 0.877);
$button-hover-color: rgb(102, 42, 30);
$background-shadow-color: rgba(0, 0, 0, 0.4);
