$main-title-font-family: "Holtwood One SC", serif;
$main-font-family: "Teko", sans-serif;
$main-font-color: rgb(247, 243, 231);
$first-place-font-color: rgb(236, 201, 3);
$second-place-font-color: rgb(173, 173, 173);
$third-place-font-color: rgb(119, 48, 0);
$background-color: linear-gradient(#280028 10%, #470047);
