$main-background-image: url(../images/background-wall.jpg);
$main-title-font-family: "Holtwood One SC", serif;
$main-font-family: "Teko", sans-serif;
$main-font-color: rgb(247, 243, 231);
$first-place-font-color: rgb(236, 201, 3);
$second-place-font-color: rgb(173, 173, 173);
$third-place-font-color: rgb(119, 48, 0);
$main-title-font-size-mobile: 3.9rem;
$h1-font-size-mobile: 3.9rem;
$h2-font-size-mobile: 3.4rem;
$h3-font-size-mobile: 2rem;
$button-font-size-mobile: 1rem;
$return-btn-font-size-mobile: 2.4rem;
$gold-font-size-mobile: 3.2rem;
$silver-font-size-mobile: 2.6rem;
$bronze-font-size-mobile: 2rem;
$txt-font-size-mobile: 1.6rem;
$trophy-font-size-mobile: 6rem;
$gold-font-size-desktop: 4rem;
$silver-font-size-desktop: 3.4rem;
$bronze-font-size-desktop: 2.8rem;
$txt-font-size-desktop: 2.4rem;
$trophy-font-size-desktop: 10rem;
$main-title-font-size-desktop: 6rem;
$h1-font-size-desktop: 5rem;
$h2-font-size-desktop: 5.6rem;
$h3-font-size-desktop: 4rem;
$button-font-size-desktop: 1.8rem;
$return-btn-font-size-desktop: 4rem;
$card-border-color: rgb(119, 119, 119);
$button-background-color: rgba(143, 59, 42, 0.877);
$button-hover-color: rgb(102, 42, 30);
$background-shadow-color: rgba(0, 0, 0, 0.4);
